


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.6;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: inherit;
}


ul, ol {
    list-style: none;
}


#networkCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #F1F4F7;
    z-index: -1;
}

.main-content {
    position: relative;
    z-index: 10;
    padding: 50px;
}