{% extends 'base.html.twig' %}

{% block title %}MorenoDev{% endblock %}

{% block body %}

    <canvas id="networkCanvas"></canvas>


    <main class="main-container">
        <div class="content-wrapper">

        </div>
    </main>
{% endblock %}

{% block javascripts %}

    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/js/app.js"></script>
{% endblock %}