{% extends 'base.html.twig' %}

{% block title %}MorenoDev{% endblock %}

{% block body %}
    
    <canvas id="networkCanvas"></canvas>
    
    
    <main class="main-container">
        <div class="content-wrapper">
            
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/assets/app-Dyuk3Wwf.css">
{% endblock %}

{% block javascripts %}
    <script type="module" src="/build/assets/app-BtYDmf-t.js"></script>
{% endblock %}
