{% extends 'base.html.twig' %}

{% block title %}MorenoDev{% endblock %}

{% block body %}
    {# INFO: Canvas de fond pour l'animation de particules #}
    <canvas id="networkCanvas"></canvas>
    
    {# INFO: Container principal de l'application #}
    <main class="main-container">
        <div class="content-wrapper">
            {# TODO: ajouter le contenu du portfolio #}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {# INFO: Chargement des assets via Vite en développement #}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/js/app.js"></script>
{% endblock %}