{% extends 'base.html.twig' %}

{% block title %}MorenoDev{% endblock %}

{% block body %}
    
    <canvas id="networkCanvas"></canvas>
    
    
    <main class="main-container">
        <div class="content-wrapper">
            
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}